200906_rational_functions
speclab
debugging
deprecated
dg
eno
finite_difference
hesthaven_warburton
hilbert_transform
matlab.jpeg
old
packages
parareal
pic
piecewise_interpolation
prob_experiments
publish
rbm
sellout
shape_old
shapelab
slp
spde
speclab_v0.5.tar
spectral
test
vlasov
